#main {
    background-color: #EEEEEE;
}

#main header {
    background: repeating-linear-gradient(
        90deg,
        #000,
        #000 10%,
        #fff 10%,
        #fff 20%
    );
    padding: 2rem 5rem;
    border: 3px solid yellow;
}

#title, #subtitle{
    font-size: 5rem;
    font-weight: bolder;
    color: red;
    margin-bottom: 1rem;
    text-align: center;
}

#img-div {
    margin: 1rem 2rem;
    padding: 1rem 0;
}

#image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

#img-caption {
    color: #333;
    margin-top: 1rem;
    text-align: center;
}

.tribute-info-group {
    margin: 3rem;
}

.tribute-info-group h3 {
    margin: 2rem 0;
    color: #333;
    text-align: center;
}

.tribute-info-group p {
    margin: .5rem 0;
}

.tribute-info-group ul {
    padding-left: 4rem;
}

.tribute-info-group li {
    margin: 1rem 0;
}


#tribute-link {
    font-size: 1.15rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 2rem;
    text-decoration: none;
}

#link {
    margin-top: 8rem;
    text-align: center;
}